# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# LocalMockr runtime
localmockr-python/mocks.json
localmockr-python/localmockr_embedded.py
localmockr-python/dist/
localmockr-python/build/
localmockr-python/*.spec

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db
Desktop.ini
